SUPABASE_URL=https://xyzcompany.supabase.co
SUPABASE_ANON_KEY=sb_publishable_4-Se2F_XjCyQ8QdS0HN84w_Wb0ddQ5f
SUPABASE_SERVICE_ROLE_KEY=sb_secret_17KjoiiQsYYH6iCpuec_yg_cS8IR9dw
PORT=3000
NODE_ENV=production
FRONTEND_ORIGIN=https://tudominio.com
PAYPAL_CLIENT_ID=tu_paypal_client_id
PAYPAL_CLIENT_SECRET=tu_paypal_client_secret
PAYPAL_MODE=sandbox
